- page_title 'Geo nodes'
%h3.page-title
  Geo Nodes

%p.light
  With #{link_to 'GitLab Geo', help_page_path('gitlab-geo/README'), class: 'vlink'} you can install a special
  read-only and replicated instance anywhere.
  Before you add nodes, follow the
  #{link_to 'Setup instructions', help_page_path('gitlab-geo/README', anchor: 'setup-instructions'), class: 'vlink' }
  in the
  %strong exact order
  they appear.

%hr

- if Gitlab::Geo.license_allows?
  = form_for [:admin, @node], as: :geo_node, url: admin_geo_nodes_path, html: { class: 'form-horizontal js-geo-node-form' } do |f|
    = render partial: 'form', locals: { form: f, geo_node: @node }
    .form-actions
      = f.submit 'Add Node', class: 'btn btn-create'

%hr

- if @nodes.any?
  .panel.panel-default
    .panel-heading
      Geo nodes (#{@nodes.count})
    %ul.well-list.geo-nodes
      - @nodes.each do |node|
        %li{ id: dom_id(node), class: node_class(node), data: { status_url: status_admin_geo_node_path(node) } }
          .node-block
            = node_status_icon(node)
            %strong= node.url
            - if node.current?
              .node-badge.current-node Current node
            - if node.primary?
              .node-badge.primary-node Primary
              %span.help-block Primary node
            - else
              = status_loading_icon
              - if node.restricted_project_ids
                %p
                  %span.help-block
                    Namespaces to replicate:
                    %strong.node-info
                      = node_selected_namespaces_to_replicate(node)
              .js-geo-node-status{ style: 'display: none' }
                - if node.enabled?
                  %p
                    %span.help-block
                      Health Status:
                      %span.js-health-status
                %p
                  %span.help-block
                    Repositories synced:
                    %strong.node-info.js-repositories-synced
                %p
                  %span.help-block
                    Repositories failed:
                    %strong.node-info.js-repositories-failed
                %p
                  %span.help-block
                    LFS objects synced:
                    %strong.node-info.js-lfs-objects-synced
                %p
                  %span.help-block
                    Attachments synced:
                    %strong.node-info.js-attachments-synced
                %p
                .advanced-geo-node-status-container
                  .advanced-status.hidden
                    %span.help-block
                      Database replication lag:
                      %strong.node-info.js-db-replication-lag
                    %span.help-block
                      Last event ID seen from primary:
                      %strong.node-info.js-last-event-seen
                    %span.help-block
                      Last event ID processed by cursor:
                      %strong.node-info.js-last-cursor-event
                  %button.btn-link.js-advanced-geo-node-status-toggler
                    %span> Advanced
                    = icon('angle-down')
                %p
                  .js-health

          - if Gitlab::Database.read_write?
            .node-actions
              - if Gitlab::Geo.license_allows?
                - if node.missing_oauth_application?
                  = link_to "Repair authentication", repair_admin_geo_node_path(node), method: :post, title: 'OAuth application is missing', class: 'btn btn-default btn-sm'
                - if node.secondary?
                  = toggle_node_button(node)
                = link_to "Edit", edit_admin_geo_node_path(node), class: 'btn btn-sm'
              = link_to "Remove", admin_geo_node_path(node), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-remove btn-sm'
