- add_to_breadcrumbs "Groups", admin_groups_path
- breadcrumb_title @group.name
- page_title @group.name, "Groups"
%h3.page-title
  Group: #{@group.full_name}

  = link_to admin_group_edit_path(@group), class: "btn pull-right" do
    %i.fa.fa-pencil-square-o
    Edit
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Group info:
      %ul.well-list
        %li
          .avatar-container.s60
            = image_tag group_icon(@group), class: "avatar s60"
        %li
          %span.light Name:
          %strong= @group.name
        %li
          %span.light Path:
          %strong
            = @group.path

        %li
          %span.light Description:
          %strong
            = @group.description

        %li
          %span.light Visibility level:
          %strong
            = visibility_level_label(@group.visibility_level)

        %li
          %span.light Created on:
          %strong
            = @group.created_at.to_s(:medium)

        = render 'admin/namespace_plan_info', namespace: @group

        %li
          %span.light Storage:
          %strong= storage_counter(@group.storage_size)
          (
          = storage_counter(@group.repository_size)
          repositories,
          = storage_counter(@group.build_artifacts_size)
          build artifacts,
          = storage_counter(@group.lfs_objects_size)
          LFS
          )

        %li
          %span.light Group Git LFS status:
          %strong
            = group_lfs_status(@group)
            = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')

        = render partial: "namespaces/shared_runner_status", locals: { namespace: @group }

    - if Gitlab::LDAP::Config.group_sync_enabled? && @group.ldap_synced?
      .panel.panel-default
        .panel-heading Active synchronizations
        %ul.well-list
          - @group.ldap_group_links.select(&:active?).each do |ldap_group_link|
            %li
              %strong= ldap_group_link.cn ? "Group: #{ldap_group_link.cn}" : "Filter: #{truncate(ldap_group_link.filter, length: 40)}"
              as
              %strong= ldap_group_link.human_access

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Projects
          %span.badge
            #{@group.projects.count}
      %ul.well-list
        - @projects.each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project.namespace.becomes(Namespace), project]
              %span.badge
                = storage_counter(project.statistics.storage_size)
            %span.pull-right.light
              %span.monospace= project.full_path + '.git'
      .panel-footer
        = paginate @projects, param_name: 'projects_page', theme: 'gitlab'

    - if @group.shared_projects.any?
      .panel.panel-default
        .panel-heading
          Projects shared with #{@group.name}
          %span.badge
            #{@group.shared_projects.count}
        %ul.well-list
          - @group.shared_projects.sort_by(&:name).each do |project|
            %li
              %strong
                = link_to project.name_with_namespace, [:admin, project.namespace.becomes(Namespace), project]
                %span.badge
                  = storage_counter(project.statistics.storage_size)
              %span.pull-right.light
                %span.monospace= project.full_path + '.git'

  .col-md-6
    - if can?(current_user, :admin_group_member, @group)
      .panel.panel-default
        .panel-heading
          Add user(s) to the group:
        .panel-body.form-holder
          %p.light
            Read more about project permissions
            %strong= link_to "here", help_page_path("user/permissions"), class: "vlink"

          = form_tag admin_group_members_update_path(@group), id: "new_project_member", class: "bulk_import", method: :put  do
            %div
              = users_select_tag(:user_ids, multiple: true, email_user: true, skip_ldap: @group.ldap_synced?, scope: :all)
            .prepend-top-10
              = select_tag :access_level, options_for_select(GroupMember.access_level_roles), class: "project-access-select select2"
            %hr
            = button_tag 'Add users to group', class: "btn btn-create"
      = render 'shared/members/requests', membership_source: @group, requesters: @requesters, force_mobile_view: true

    .panel.panel-default
      .panel-heading
        %strong= @group.name
        group members
        %span.badge= @group.members.size
        .pull-right
          = link_to icon('pencil-square-o', text: 'Manage access'), polymorphic_url([@group, :members]), class: "btn btn-xs"
      %ul.well-list.group-users-list.content-list.members-list
        = render partial: 'shared/members/member', collection: @members, as: :member, locals: { show_controls: false }
      .panel-footer
        = paginate @members, param_name: 'members_page', theme: 'gitlab'
